html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

.fade-in{
    opacity: 0;
}

.navbar-custom {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
}

.nav-btn{
    border: none;
}

.nav-logo{
    height: 2rem;
}

.landing{
    background: linear-gradient( rgba(228, 217, 217, 0.1), rgba(219, 211, 211, 0.1) ), url(images/landingimage.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-icon{
    max-width: 75%;
    max-height: 40vh;
}

.gassafe{
    height: 10rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.mybuild{
    max-height: 9rem;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
}

.rated{
    max-height: 7rem;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 50%;
}

.black{
    color: black;
}

.italic{
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.landing-button{
    color: #000000;
    padding: 0.5rem;
    margin-right: .5rem;
    border: 1px solid black;
    transition: 300ms;
    z-index: 2;
}

.landing-button:hover{
    background-color: black;
    color: white;
    text-decoration:none;
    transition: 300ms
}

.our-work-image{
    background: linear-gradient( rgba(255, 255, 255, 0.781), rgba(255, 255, 255, 0.89) ), url(images/photo-1589554882481-e2a621b0eef3.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.luxbathroom {
    background: linear-gradient( rgba(255, 255, 255, 0.781), rgba(255, 255, 255, 0.89) ), url(images/luxarybathroom2.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));  
}
  
.brand-hr{    
    border: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),rgb(255,115,0), rgba(0, 0, 0, 0));  
}

.font-larger-125{
    font-size: 125%;
}


.brand-color{
    color:#ff7300 ;
}

.font-smaller {
    font-size: smaller;
    
}

.quote-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.1rem;
}

.mt-less {
    margin-top: -1rem;
}

.logos{
    width: 100%;
}

.logos-img{
    max-height: 4rem;
    max-width: 100%;
}

.hidden{
    opacity: 0;
    transition: 800ms;
}

#form-message{
    transition: 1000ms;
}

.footer{
    background-color: #333333;
    color: white;
}

.footer a{
    color: white;
}

.footer a:hover{
    text-decoration: none;
    color: #ff7300;
}

.image1 {
    max-height: 4.5rem;
    max-width: 33%;
}

.brighter {
    filter: brightness(110%);
}

.icon {
    height: 5rem;
}

.icon2 {
    height: 3.5rem;
}

.font-larger {
    font-size: 1.25rem;
}

.letter-spaced{
    letter-spacing: 0.1rem;
}

@media only screen and (max-width: 600px) {
    .gassafe {
      height: 8rem;
    }
  }